.table {
    border: 1px, solid, black;
    border-collapse: collapse;
}

.table__row :nth-child(even) {
    background-color: bisque;

}

.table__header {
    background-color: azure;
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;
}

.table__cell {
    padding: auto;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #9a9f9e;
  color: white;
}