{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %} List {% endblock %}
{% block content %}
<!-- question display -->

<div class="w3-container"> 
    <h2>London</h2>
    <p>London is the most populous city in the United Kingdom,
    with a metropolitan area of over 9 million inhabitants.</p>
    <hr>
  </div>

  <!-- answer display -->

  <div class="w3-container">
    <h2>Cards</h2>
    <p>Create paper-like cards with the card classes:</p>
  
    <div class="w3-panel w3-card-4"><p>w3-card-4</p></div>
  </div>

{% endblock %}