.table {
    border-spacing: 0;
    margin: 1rem;
}

.table__row :nth-child(even) {
    background-color: bisque;
}

.table__header {
    background-color: azure;
    text-align: left;
}

.table__cell {
    padding: auto;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(133, 130, 130);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav h1 {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav h1:hover {
    background-color: #ddd;
    color: black;
  }
  


.navbar-item__link {
  text-decoration: none;
  color: #1c2023;
}

.navbar-item__link:not(:last-of-type) {
  margin-right: 2.5rem;
}

.nav__link--active,
.nav__link:hover {
  font-weight: bold;
}